<html>
<body>
<form action="">
<span jwcid="$content$">


<span class="label">Street Address: </span>
    <input jwcid="address" size="55"/>
    <br />
<span class="label">City: </span>
    <input jwcid="city" size="65"/>
    <br />
<span class="label">Region: </span>
    <input jwcid="region" size="62"/>
    <br />
<span class="label">Postal Code: </span>
    <input jwcid="zip" size="11"/>
    <br />

<span class="label">Country:  </span><div jwcid="country"/> 

</span>
</form>
</body>
</html>
