<html>
<body>
<form action="">
<span jwcid="$content$">

<h1>Organization Information</h1>

<p>
<span class="label">Organization name: </span> 
    <br />
    <input jwcid="name" size="70"/>
    <br />
<span class="label">Organizational Base: </span><span class="inline-help">For Religious centers, please use the organizational base to indicate your religious affiliation separated by colons.  First specify "Buddhist" or "Hindu".  Then following a colon, specify sectarian identity.  For Tibetan Buddhist Centers, use Geluk, Kagyu, Sakya, Nyingma, Bön, or Jonang.  Thus "Buddhist:Kagyu", etc. </span>
    <br />
    <textarea jwcid="parentOrganization" rows="4" cols="70"/>
    <br />

<span class="label">People: </span> <span class="inline-help">Please briefly describe the primary people involved in this organization/project</span>
	<br />
	<textarea jwcid="people" rows="10" cols="70"></textarea>
	<br />
<span class="label">Mailing list: </span> <span class="inline-help">If you have a mailing list for updates on your organization/project, please describe it briefly and how to subscribe.</span>
	<br />
   <textarea jwcid="mailingList" rows="10" cols="70"/>
   <br />


<span class="label">Overview: </span> 
     <br />
   <textarea jwcid="description" rows="10" cols="70"></textarea>
    <br />

<span class="label">History: </span> 
     <br />
   <textarea jwcid="history" rows="10" cols="70"></textarea>
    <br />

<span class="label">Components: </span> 
<span class="inline-help">This refers to primary  components of the organization which also have a separate identity, and as such may have their own roster entry (such as a University and its library).</span>
    <br />
    <textarea jwcid="components" rows="10" cols="70"/>
    <br />

<!-- <span class="label">Activities: </span> 
    <br />
    <textarea jwcid="activities" rows="10" cols="70"></textarea>
    <br /> -->
<span class="label">Education programs: </span> 
    <br />
    <textarea jwcid="educationPrograms" rows="10" cols="70"></textarea>
    <br />
<span class="label">Resources: </span> 
	<br /> 
	<textarea jwcid="resources" rows="10" cols="70"></textarea>

</p>


</span>
</form>
</body>
</html>
