<html>
<body>
<form action="">
<span jwcid="$content$">


<h1>Personal Information</h1>
<p>
<span class="label">First name: </span> 
    <input jwcid="firstname" size="60"/>
    <br />
<span class="label">Middle name: </span> 
    <input jwcid="middlename" size="58"/>
    <br />
<span class="label">Last name: </span> 
    <input jwcid="lastname" size="60"/>
    <br />
<span class="label">Overview bio: </span> <span class="inline-help">Please write this in the third person so others can use it for a quick biographical sketch, and limit it to 100 words.</span><br />
    <textarea jwcid="bio" cols="70" rows="10"></textarea>
    <br />
<span class="label">Further biographical details: </span> 
     <br />
   <textarea jwcid="history" rows="10" cols="70"></textarea>
    <br />
<span class="label">Organizational Base: </span> 
     <br />
		 <textarea jwcid="parentOrganization" rows="4" cols="70"/>
    <br />
	 
</p>
<h1>Employment Information</h1>
<p>
<span class="label">Organization: </span> 
    <input jwcid="organization" size="58"/>
    <br />
<span class="label">Division: </span> 
    <input jwcid="division" size="61"/>
    <br />
<span class="label">Title: </span> 
    <input jwcid="title" size="64"/>
    <br />
<span class="label">Start date: </span> 
    <input jwcid="startDate" size="4"/>
    <br />
<span class="label">Job description: </span> <br />
    <textarea jwcid="jobDescription" cols="70" rows="10"></textarea>
    <br />
</p>
<h1>Education Information</h1>
<p>
<span class="label">School: </span> 
    <input jwcid="school" size="63"/>
    <br />
<span class="label">Department: </span> 
    <input jwcid="department" size="59"/>
    <br />
<span class="label">Program: </span> 
    <input jwcid="program" size="61"/>
    <br />
<span class="label">Advisor: </span> 
    <input jwcid="advisor" size="61"/>
    <br />
<span class="label">Higest degree earned: </span> 
    <input jwcid="highestDegree" size="6"/>
    <br />
<span class="label">Year began: </span> 
    <input jwcid="yearBegan" size="4"/>
    <br />
<span class="label">Year Finished: </span> 
    <input jwcid="yearFinished" size="4"/>
    <br />
<span class="label">Other Backgrounds: </span> <br />
    <textarea jwcid="otherBackgrounds" cols="70" rows="10"></textarea>
    <br />
</p>


</span>
</form>
</body>
</html>
