<html>
<body>
<form action="">
<span jwcid="$content$">

<h1>Project Information</h1>

<p>
<span class="label">Project name: </span> 
    <br />
    <input jwcid="name" size="70"/>
    <br />
<span class="label">Organizational Base: </span> 
    <br />
    <textarea jwcid="parentOrganization" rows="4" cols="70"/>
    <br />

<span class="label">People: </span>
	<br />
	<textarea jwcid="people" rows="10" cols="70"></textarea>
	<br />
<span class="label">Mailing list: </span> 
	<br />
   <textarea jwcid="mailingList" rows="10" cols="70"/>
   <br />
	
<span class="label">Components: </span>
<span class="inline-help">this refers to chief parts of the project.</span>
      <br />
   <textarea jwcid="components" rows="10" cols="70"/>
    <br />

<span class="label">Overview: </span> 
     <br />
   <textarea jwcid="description" rows="10" cols="70"></textarea>
    <br />

	 <span class="label">History: </span> 
     <br />
   <textarea jwcid="history" rows="10" cols="70"></textarea>
    <br />

	 <span class="label">Education programs: </span> 
    <br />
    <textarea jwcid="educationPrograms" rows="10" cols="70"></textarea>
    <br />
<span class="label">Resources: </span> 
	<br /> 
	<textarea jwcid="resources" rows="10" cols="70"></textarea>
	
</p>


</span>
</form>
</body>
</html>
