/* IMPORTS */

@import url( "thdl-styles.css" );
@import url( "lex-advanced.css" );


#main input, #main textarea, #main p, #main li
{  /*---------    '*' = everything     -------------*/
font-family: 'Arial Unicode MS', 'Lucida Grande', sans-serif !important;
}

h1
{
	font-size: 1.5em;
	text-transform: none;
}

ol        
{ 
list-style-type: none; 
}
ol ol
{
list-style-type: decimal;
}

ol ol ol  
{
list-style-type: lower-alpha;
}
ol ol ol ol
{
list-style-type: none;
}

#results ol
{
list-style-type: decimal;
}
ol.notes
{
list-style-type: lower-roman;
}

ul    
{
list-style-type: disc;
} 

ol, ul,  li
{
clear: right;
margin-right: 0px !important;
padding-right: 0 !important;
margin-left: 2px !important;
padding-left: 0 !important;
} 
#results ol
{
	margin-left: 30px !important;
}
li
{
	margin-left: 0 !important;
}
/* ol
{
	border: solid 2px black;
}

li ol
{
	border: solid 2px yellow;
}
li
{
	border: solid 2px red;
}  */
li li
{
	margin-left: 25px !important;
	 /* border: solid 2px blue;  */
}


div.tmw-block, h1.tmw-block, p.tmw-block
{
	margin-top: 1ex !important;
	text-align: left !important;
	/* border: solid 2px red; */
} 

.tmw-block span
{
/* vertical-align: middle; */
}

span.tmw-roman 
{ 

/* margin-top: 1ex; 
padding-top: 1ex;  */
} 
span.tmw {font: 24pt TibetanMachineWeb !important; text-transform: none; }
span.tmw1 {font: 24pt TibetanMachineWeb1 !important; text-transform: none;  }
span.tmw2 {font: 24pt TibetanMachineWeb2 !important; text-transform: none;  }
span.tmw3 {font: 24pt TibetanMachineWeb3 !important; text-transform: none;  }
span.tmw4 {font: 24pt TibetanMachineWeb4 !important; text-transform: none;  }
span.tmw5 {font: 24pt TibetanMachineWeb5 !important; text-transform: none;  }
span.tmw6 {font: 24pt TibetanMachineWeb6 !important; text-transform: none;  }
span.tmw7 {font: 24pt TibetanMachineWeb7 !important; text-transform: none;  }
span.tmw8 {font: 24pt TibetanMachineWeb8 !important; text-transform: none;  }
span.tmw9 {font: 24pt TibetanMachineWeb9 !important; text-transform: none;  }

h1 span.tmw {font-size: 32pt  !important; }
h1 span.tmw1 {font-size: 32pt  !important; }
h1 span.tmw2 {font-size: 32pt  !important; }
h1 span.tmw3 {font-size: 32pt  !important; }
h1 span.tmw4 {font-size: 32pt  !important; }
h1 span.tmw5 {font-size: 32pt  !important; }
h1 span.tmw6 {font-size: 32pt  !important; }
h1 span.tmw7 {font-size: 32pt  !important; }
h1 span.tmw8 {font-size: 32pt  !important; }
h1 span.tmw9 {font-size: 32pt  !important; }

/* The following child selectors hide this css from IE 6 and lower which can't re-position without screwing up the drawing of the fonts*/
.tmw-block>span.tmw-roman, a>span.tmw-roman
{
	 vertical-align: sub; 
}

a.tmw-link:hover
{
	background-color: inherit;
}

