# Default localized resources for DictionaryImporterdictionaryimporter.driverclassname=org.gjt.mm.mysql.Driverdictionaryimporter.url=jdbc:mysql://localhost:3306/lex?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&user=USERNAME&password=PASSWORD