/* ID Selectors */

#label
{
}

#message 
{ 
}


#results
{ 
}

#toc
{
	padding: 0;
}
#entry
{
}

#termChildren, #defChildren, #subdefChildren
{
}

#columnMain textarea
{
} 

#newCompForm, #preferencesForm
{
background-color: #99ccff;
border: black solid 1px;
margin: 8px 8px 8px 8px !important;
}

#newCompForm input, select, textarea
{
margin: 5px 5px 5px 5px;
}

/* Class Selectors.*/
 .highlightBox ol 
{
margin: 0 0 0 20px;
}

.label
{
font-weight: bold;
}

.compEditOptions
{
padding: 3px 3px 0px 3px;
margin: 0;
float: right;
display: block;
background-color: #99ccff;
border-right: 1px solid gray;
border-bottom: 1px solid gray;
border-left: 1px solid gray;
}

.data
{
border-top: 1px solid gray;
padding-top: 0;
margin-left: 0;
margin-right: 0;
margin-bottom: 0;
}

.data img
{
margin-right: 2px;
}

.metadata, .translation, .analysis
{
display: none;
margin-left: 1.5em;
margin-top: .5em;
}

.data input
{
	padding: 0px;
}

/* CSS Rollovers */
p.data a:hover
{
/* 
Don't Remove bgcolor and color or rollover will not work on IE Windows
These CSS Rollovers do not work on IE Mac. but they do work on Mozilla Mac
*/	
text-decoration: none;
background-color: white;
color: #003366;
}

p.data a:link span.metadata, p.data a:link span.translation, p.data a:link span.analysis
{
display: none;
}

p.data a:visited span.metadata, p.data a:visited span.translation, p.data a:visited span.analysis
{
display: none;
}

p.data a:hover span.metadata, p.data a:hover span.translation, p.data a:hover span.analysis
{
text-decoration: none !important;
position: absolute;
margin: 5px 0px 0px 20px;
background-color: beige;
max-width: 300px;
padding: 2px 10px 2px 10px;
border: 1px solid #C0C0C0;
text-align:left;
display: block;
}

p.data a:hover span.translation span.metadata, p.data a:hover span.analysis span.metadata
{
	width: 300px;
}


/* END OF CSS*/
