/* IMPORTS */

@import url( "thdl-styles.css" );
@import url( "lex-advanced.css" );


#main input, #main textarea, #main p, #main li
{  /*---------    '*' = everything     -------------*/
font-family: 'Arial Unicode MS', 'Lucida Grande', sans-serif !important;
}

h1
{
	font-size: 1.5em;
	text-transform: none;
}

li, ol, ul
{
		padding: 0 1em 0 1em;
		margin-top: 0;
		border-width:  0px;
}
li
{
	border-color: green;
}

ol
{
	border-color: red;
}

ul
{
	border-color: blue;
}


li
{
	margin-left: 1em !important;
	padding: 0;
}

ol        
{ 
list-style-type: upper-roman; 
}

#entry ol, #entry ul, #entry li
{
clear: right;
margin-right: 0 !important;
padding-right: 0 !important;
} 

#results ol
{
	list-style-type: decimal;
}
ol.notes
{
list-style-type: lower-roman;
}
ol ol
{
list-style-type: upper-alpha;
margin-left: 0 !important;
}

ol ol ol  
{
list-style-type: decimal;
margin-left: 0 !important;
}

ol ul,   ol ol ul,   ol ol ol ul       
{
list-style-type: disc;
margin-left: 0 !important;
} 

ol ul li,   ol ol ul li,   ol ol ol ul li
{
margin-left: 0 !important;
padding-left: 0 !important;
} 

div.tmw-block, h1.tmw-block, p.tmw-block
{
	margin-top: 1ex !important;
	text-align: left !important;
	/* border: solid 2px red; */
} 

.tmw-block span
{
/* vertical-align: middle; */
}

span.tmw-roman 
{ 

/* margin-top: 1ex; 
padding-top: 1ex;  */
} 
span.tmw {font: 24pt TibetanMachineWeb !important; text-transform: none; }
span.tmw1 {font: 24pt TibetanMachineWeb1 !important; text-transform: none;  }
span.tmw2 {font: 24pt TibetanMachineWeb2 !important; text-transform: none;  }
span.tmw3 {font: 24pt TibetanMachineWeb3 !important; text-transform: none;  }
span.tmw4 {font: 24pt TibetanMachineWeb4 !important; text-transform: none;  }
span.tmw5 {font: 24pt TibetanMachineWeb5 !important; text-transform: none;  }
span.tmw6 {font: 24pt TibetanMachineWeb6 !important; text-transform: none;  }
span.tmw7 {font: 24pt TibetanMachineWeb7 !important; text-transform: none;  }
span.tmw8 {font: 24pt TibetanMachineWeb8 !important; text-transform: none;  }
span.tmw9 {font: 24pt TibetanMachineWeb9 !important; text-transform: none;  }

/* The following child selectors hide this css from IE 6 and lower which can't re-position without screwing up the drawing of the fonts*/
.tmw-block>span.tmw-roman, a>span.tmw-roman
{
	 vertical-align: sub; 
}

a.tmw-link:hover
{
	background-color: inherit;
}


/* 
span.tmw-roman {position: relative;	top: 0pt; padding-left: .25em;}
span.tmw {font: 24pt TibetanMachineWeb !important; text-transform: none; }
span.tmw1 {font: 24pt TibetanMachineWeb1 !important; text-transform: none;  }
span.tmw2 {font: 24pt TibetanMachineWeb2 !important; text-transform: none;  }
span.tmw3 {font: 24pt TibetanMachineWeb3 !important; text-transform: none;  }
span.tmw4 {font: 24pt TibetanMachineWeb4 !important; text-transform: none;  }
span.tmw5 {font: 24pt TibetanMachineWeb5 !important; text-transform: none;  }
span.tmw6 {font: 24pt TibetanMachineWeb6 !important; text-transform: none;  }
span.tmw7 {font: 24pt TibetanMachineWeb7 !important; text-transform: none;  }
span.tmw8 {font: 24pt TibetanMachineWeb8 !important; text-transform: none;  }
span.tmw9 {font: 24pt TibetanMachineWeb9 !important; text-transform: none;  }

h1 span.tmw-roman { top: 0pt; }
h1 span.tmw {font-size: 32pt  !important; top: -8pt;}
h1 span.tmw1 {font-size: 32pt  !important; top: -8pt;}
h1 span.tmw2 {font-size: 32pt  !important; top: -8pt;}
h1 span.tmw3 {font-size: 32pt  !important; top: -8pt;}
h1 span.tmw4 {font-size: 32pt  !important; top: -8pt;}
h1 span.tmw5 {font-size: 32pt  !important; top: -8pt;}
h1 span.tmw6 {font-size: 32pt  !important; top: -8pt;}
h1 span.tmw7 {font-size: 32pt  !important; top: -8pt;}
h1 span.tmw8 {font-size: 32pt  !important; top: -8pt;}
h1 span.tmw9 {font-size: 32pt  !important; top: -8pt;}

p span.tmw {font-size: 20pt  !important; }
p span.tmw1 {font-size: 20pt  !important; }
p span.tmw2 {font-size: 20pt  !important; }
p span.tmw3 {font-size: 20pt  !important; }
p span.tmw4 {font-size: 20pt  !important; }
p span.tmw5 {font-size: 20pt  !important; }
p span.tmw6 {font-size: 20pt  !important; }
p span.tmw7 {font-size: 20pt  !important; }
p span.tmw8 {font-size: 20pt  !important; }
p span.tmw9 {font-size: 20pt  !important; }


li span.tmw {font-size: 20pt  !important; }
li span.tmw1 {font-size: 20pt  !important; }
li span.tmw2 {font-size: 20pt  !important; }
li span.tmw3 {font-size: 20pt  !important; }
li span.tmw4 {font-size: 20pt  !important; }
li span.tmw5 {font-size: 20pt  !important; }
li span.tmw6 {font-size: 20pt  !important; }
li span.tmw7 {font-size: 20pt  !important; }
li span.tmw8 {font-size: 20pt  !important; }
li span.tmw9 {font-size: 20pt  !important; } */
